@font-face
{
font-family: 'Proxima Nova';
src: url(fonts/ProximaNova-Bold.otf) format('opentype');
font-weight: normal;
   font-style: normal;
}

@font-face
{
font-family: 'Proxima Nova';
src: url(fonts/ProximaNova-SemiBold.otf) format('opentype');
font-weight: normal;
   font-style: normal;
}

div.ui-content
{
	font-family: 'Open Sans', sans-serif;
	font-variant: normal;
	text-shadow: none;
	padding: 0;
}

.green
{
	background-color: #b6d449;
}
.red
{
	background-color: #d55b3c;
}

.green, .red
{
	width: 100%;
	padding-top: 10px;
}

.ui-bar
{
	height: 200px;
}

.heading
{
	width: 50%;
	height: 100%;
	float: right;
}


.green img, .red img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 132px;
}

a
{
	text-decoration: none;
}

.green h2, .red h2
{
	margin: 0px;
	padding: 0px;
	padding: 10px;
	color: black;
	margin-top: auto;
	font-size: 25px;
	overflow: ;
	text-align: center;
}

.red h2
{
	color: #a6a8ab;
}
.green h2
{
	color: #929497;
}

.logo, .heading_call
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	
}

h1.ui-title
{
	text-align: right;
}

.uitroepteken
{
	text-align: center;
	font-size: 150px;
	line-height: 0px;
	
}
i
{
	margin-right: 5px;
}

.ui-collapsible-inset .ui-collapsible-heading{
	border-radius: 0px;
}

.ui-btn-up-b{
	border:1px solid #black;
	background:#929497;
	text-shadow:0 1px 0 #727272;
}
.ui-btn-hover-b
{
	border:1px solid #black;
	background:#727272;
	font-weight:700;
	color:#fff;
	text-shadow:0 1px 0 #727272;
}

.ui-btn-down-b
{
	border:1px solid #225377;
	background:#494949;
	font-weight:700;
	color:#fff;
	text-shadow:0 1px 0 #727272;
}

.disclaimer
{
	background-color: #b6d449;
	height: 480px;
}
.disclaimer a
{
	margin-left: 20px;
	margin-right: 20px;
}

